<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>

      <h1 class="header center stiltzkey-font stiltzkey-color">
        Stiltzkey
      </h1>

      <div class="row center">
        <h5 class="header col s12 light parallax-text">
          <%= gettext "A platform designed to allow you whisper your secrets safely!" %>
        </h5>
      </div>
      <div class="row center">
          <%= link gettext("Get started"), to: user_path(@conn, :new), class: "btn-large waves-effect" %>
      </div>

      <br>
      <br>
    </div>
  </div>

  <div class="parallax"><img src="/images/library.jpg"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">

      <div class="col s12 m4">
        <div class="icon-block white-text">
          <h2 class="center">
            <i class="material-icons">verified_user</i>
          </h2>
          <h5 class="center">
            <%= gettext "Safe and Private" %>
          </h5>

          <p>
            <%= gettext "Stiltzkey uses two-staged encryption in order to protect your secrets from malicious attacks. Only you and your movement partners can see the secrets defined by you. You can choose which secret you want to share to your comrades and which secrets you want to keep private." %>
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block white-text">
          <h2 class="center">
            <i class="material-icons">format_align_left</i>
          </h2>

          <h5 class="center">
            <%= gettext "Make Your Verses" %>
          </h5>

          <p>
            <%= gettext "Your secret is called by Stiltzkey as Verse. A collection of verses is a Stanza. A collection of stanzas is a Poem. Every verse, stanza, and poem is defined by an Author, which can share its secrets by defining a Movement - a group interested in a specific type of poetry." %>
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block white-text">
          <h2 class="center"><i class="material-icons">wifi_tethering</i></h2>
          <h5 class="center">Spread the Poetry!</h5>

          <p>
            <%= gettext "Any Author can join a Movement as a Leader, Poet or Enthusiast. Leader is the author that created the movement and can invite poets and enthusiasts, add/read verses, and edit the movement settings. Poet can only add/read verses. Enthusiast can only read verses." %>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

        <h5 class="header col s12 parallax-text">
          <%= gettext "Developed as free software using Elixir's Framework Phoenix" %>
        </h5>

      </div>
    </div>
  </div>

  <div class="parallax"><img src="/images/writing.jpg"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center white-text">
        <h4>
          <%= gettext "Born from the Ashes" %>
        </h4>
        <p class="left-align">
          <%= gettext "Developed by LAPPIS - Advanced Software Research, Production, and Inovation Laboratory, located at Brasilia's University (UnB/FGA - Brazil), which follows the principles of free software and agile development. Stiltzkey is written using the brazillian functional programming language Elixir and the framework Phoenix. With Github, Docker, Docker Compose, GitLab CI/CD, and Rancher, Stiltzkey follows the Git Flow structure for continuous integration and continuous delivery. The project is at its beginning stage, started at 9th April of 2018, currently in the version %{vsn} and with the following contributors: %{contributors}.", vsn: @vsn, contributors: @contributors %>
        </p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 parallax-text">
          <%= gettext "Follow and chat with the Stiltzkey magic movement!" %>
        </h5>
      </div>
    </div>
  </div>

  <div class="parallax"><img src="/images/enchanted-book.jpg"></div>
</div>

<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row center">
      <div class="col s12">
        <h4 class="white-text">
          <%= gettext "Connect with Stiltzkey" %>
        </h4>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center">
            <a href="https://github.com/arkye/stiltzkey" target="_blank">
              <i class="fa fa-lg fa-github-alt white-text"></i>
            </a>
          </h1>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center">
            <a href="https://gitlab.com/arkye/stiltzkey" target="_blank">
              <i class="fa fa-lg fa-gitlab white-text"></i>
            </a>
          </h1>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center">
            <a href="https://fga.unb.br/lappis" target="_blank">
              <i class="fa fa-lg fa-link white-text"></i>
            </a>
          </h1>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center">
            <a href="https://chat.lappis.rocks" target="_blank">
              <i class="fa fa-lg fa-comments white-text"></i>
            </a>
          </h1>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center">
            <a href="https://t.me/lappisnews" target="_blank">
              <i class="fa fa-lg fa-telegram white-text"></i>
            </a>
          </h1>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center">
            <a href="https://gitlab.com/lappis-unb/docs" target="_blank">
              <i class="fa fa-lg fa-wikipedia-w white-text"></i>
            </a>
          </h1>
        </div>
      </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <%= gettext "Made with ❤ by " %>
      <a class="brown-text text-lighten-3" href="https://fga.unb.br/lappis" target="_blank">
        LAPPIS
      </a>
      <%= gettext " using " %>
      <a class="brown-text text-lighten-3" href="https://www.docker.com/" target="_blank">
       Docker
      </a>
      ,
      <a class="brown-text text-lighten-3" href="https://elixir-lang.org/" target="_blank">
       Elixir
      </a>
      ,
      <a class="brown-text text-lighten-3" href="https://github.com/" target="_blank">
       Github
      </a>
      ,
      <a class="brown-text text-lighten-3" href="https://about.gitlab.com/features/gitlab-ci-cd/" target="_blank">
       GitLab CI/CD
      </a>
      ,
      <a class="brown-text text-lighten-3" href="http://materializecss.com/" target="_blank">
       Materialize
      </a>
      <%= gettext ", and " %>
      <a class="brown-text text-lighten-3" href="http://phoenixframework.org/" target="_blank">
       Phoenix
      </a>
      .
    </div>
  </div>
</footer>
