<h2>Edit Verse</h2>

<%= render "form.html", Map.put(assigns, :action, verse_path(@conn, :update, @stanza.poem_id, @stanza.id, @verse)) %>

<span><%= link "Back", to: verse_path(@conn, :index, @stanza.poem_id, @stanza.id) %></span>
