<h2>Show Profile</h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.credential.email %>
  </li>
</ul>

<%= if @user.id == @current_user.id do %>
<%= link "Edit", to: user_path(@conn, :edit, @user), class: "btn btn-primary" %>
<% end %>
